config/images/*
config/containers/*
config/userconfig.toml

install/hashpass/*
build/*
dist/*
*.spec
*.log
.idea

env/*

docs/*
keygen.py
requirements/base_image_requirements.txt
requirements/base_image_sys_requirements.txt

__pycache__/*
__pycache__
*.pyc
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd

*.tar.gz
