{% extends 'base.html.j2' %}
{% block main %}
<div class='hero'>
<span class='pill accent'>учебный пул</span>
<h1>Интерактивные задания по Linux</h1>
<p class='sub'>Живая консоль Debian, автоматическая проверка каждого шага. Три шага для подключения:</p>
<ol class='steps'>
<li><span class='step-n'>1</span><div class='cmd'><span class='prompt'>$</span><code>sudo apt update</code><button class='sm' onclick='hpcopy(this)' type='button'>копировать</button></div></li>
<li><span class='step-n'>2</span><div class='cmd'><span class='prompt'>$</span><code>sudo apt install -y curl git python3-pip</code><button class='sm' onclick='hpcopy(this)' type='button'>копировать</button></div></li>
<li><span class='step-n'>3</span><div class='cmd'><span class='prompt'>$</span><code>curl {{ flags }} {{ url }}/install.sh | bash</code><button class='sm' onclick='hpcopy(this)' type='button'>копировать</button></div></li>
</ol>
<a class='btn ghost' href='/web/login'>Вход для преподавателя</a>
</div>
<script src='/static/copy.js'></script>
{% endblock %}
