{% extends 'base.html.j2' %}
{% block main %}
<h1>Смена пароля</h1>
{% if done %}<div class='note'>Пароль изменён.</div>{% endif %}
{% if error %}<div class='err'>{{ error }}</div>{% endif %}
<form class='card' method='post' action='/web/password'>
<label>Текущий пароль<input name='old' type='password' autofocus></label>
<label>Новый пароль<input name='new' type='password' ></label>
<label>Повторите новый<input name='confirm' type='password' ></label>
<p class='sub'>{{ hint }}</p>
<button type='submit'>Сменить</button>
</form>
{% endblock %}
